{% extends 'base.html.twig' %}

{% block body %}
    <h1>Articles</h1>
    {% if articles %}
        {% for article in articles %}
            {{ article.title }}
        {% endfor %}
    {% else %}
        <p>Nothing to display</p>
    {% endif %}
{% endblock %}