<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Xsolla Rest{% endblock %}</title>
        <link rel="stylesheet" href="/css/bulma.min.css">
    </head>
    <body>
        {#{{ include('partial/navbar.html.twig') }}#}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
